<div class="center jumbotron">
  <h1>Want a list of the greatest</h1>
  <h2 id="h2jumbo">local Events in your area?</h2>
  <h3>Sign up and let the party begin!</h3>

  <%= link_to "Sign in!", new_user_session_path, class: "btn btn-lg btn-primary sign_in" %>
  <%= link_to "or sign up", new_user_registration_path %>
</div>