<% @events.each do |event| %>
<%= render partial: 'display_events', locals: {:event => event} %> 
<% end %>

<!--Notification with a Clickable bottom-->
    <div class="block-update-card status">
    <div class="update-card-body">
      <div class="update-card-body">
      <h4>Vinothbabu K</h4>
      <p>This is me. I am a Good Boy.This is the body content of this media.This can be 
      used as an update panel.</p>
    </div>
    </div>
        <p class="text-center card-bottom-status">
        	UPDATE STATUS
        </p>
</div>