<% @events.each do |event| %>
<%= render partial: 'display_events', locals: {:event => event} %> 
<% end %>

<div class="block-update-card status">
    <div class="update-card-body">
      <div class="update-card-body">
      <h4>Vinothbabu K</h4>
      <p>This is me. I am a Good Boy.This is the body content of this media.This can be 
      used as an update panel.</p>
    </div>
    </div>
    <div class="card-action-pellet btn-toolbar pull-right" role="toolbar">
  <div class="btn-group fa fa-mail-reply"></div>
  <div class="btn-group fa fa-map-marker"></div>
  <div class="btn-group fa fa-magic"></div>
  <div class="btn-group fa fa-photo"></div>
</div>
</div>